{% extends 'base.html' %}

{% block title %}Registrarse - UDEC SOFT{% endblock %}

{% block style %}
<style>
/* Contenedor para alinear el formulario de registro y la sección de inicio de sesión */
.register-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 160px); /* Altura de la ventana menos la altura del header y el footer */
    padding: 0 5vw;
}

/* Contenedor para centrar el formulario de registro */
.register-form {
    background-color: #111; /* Fondo oscuro */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

/* Estilos para los elementos del formulario */
.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form select,
.register-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box; /* Incluye el padding en el ancho total del elemento */
    border-radius: 5px;
    border: none;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form select {
    background-color: #222; /* Fondo oscuro */
    color: #fff;
}

.register-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #007bff;
}

/* Contenedor para la sección de inicio de sesión */
.login-section {
    text-align: center;
}

.login-section p {
    color: #fff;
}

.login-section a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.login-section a:hover {
    background-color: #0056b3;
}

/* Media query para dispositivos con un ancho máximo de 768px (tablets y móviles) */
@media (min-width: 1200px) {
    .register-container {
        height: calc(100vh - 160px); /* Altura de la ventana menos la altura del header y el footer */
    }

    .register-form {
        width: 400px; /* Ancho del formulario */
    }

    .register-form h2 {
        font-size: 2.5rem; /* Tamaño del título */
        margin-bottom: 30px; /* Espacio inferior del título */
    }

    .register-form input[type="text"],
    .register-form input[type="password"],
    .register-form select,
    .register-form button {
        padding: 15px; /* Espaciado interno de los campos de entrada y botón */
        font-size: 1.2rem; /* Tamaño del texto en campos de entrada y botón */
    }

    .login-section p {
        font-size: 1.2rem; /* Tamaño del texto en la sección de inicio de sesión */
    }

    .login-section a {
        padding: 12px 24px; /* Espaciado del botón de inicio de sesión */
        font-size: 1.2rem; /* Tamaño del texto del botón de inicio de sesión */
    }
}
</style>
{% endblock %}

{% block content %}
<div class="register-container">
    <div class="register-form">
        <h2>REGISTRARSE</h2>
        <form action="{{ url_for('registrarse') }}" method="POST">
            <input type="text" name="usuarioCorreo" placeholder="Correo Electrónico" required>
            <input type="password" name="contrasena" placeholder="Contraseña" required>
            <input type="password" name="contrasenaConfirm" placeholder="Confirmar Contraseña" required>
            <select name="rol" required>
                <option value="estudiante">Estudiante</option>
                <option value="profesor">Profesor</option>
            </select>
            <button type="submit">Registrarse</button>
        </form>
    </div>
    <div class="login-section">
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo UDEC-Soft" class="main-logo" style="width: 400px; height: auto;">
        <p>¿Ya tienes una cuenta?</p>
        <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
    </div>
</div>
{% endblock %}
