{% extends 'base.html' %}

{% block title %}Inicio - UDEC SOFT{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Trabaja en tus proyectos de una manera efectiva!</h1>
        <p>Registra y trabaja en equipo con los recursos disponibles en nuestra plataforma</p>
       
    </div>
    <div class="hero-image">
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo UDEC-Soft" class="main-logo" style="width: 600px; height: auto;">
    </div>
</section>
{% endblock %}
